<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">EXIBE INCRITOS</div>
            <h:panelGroup style="text-align: left; margin-bottom: 10px;" layout="block">

                <h:dataTable var="candidato" value="#{inscricaoBean.teste}">

                    <h:column >
                        <f:facet name="header">CPF</f:facet>
                        <h:outputText value="#{candidato.cpf}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header">Nome</f:facet>
                        <h:outputText value="#{candidato.nome}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header">Cidade</f:facet>
                        <h:outputText value="#{candidato.cidade}" />
                    </h:column>
                    <h:column >
                        <f:facet name="header">Estado</f:facet>
                        <h:outputText value="#{candidato.estado}" />
                    </h:column>
                </h:dataTable>

                <h:commandButton value="Voltar" action="inscricao"/>
            </h:panelGroup>

        </h:form>
    </ui:define>

</ui:composition>
