<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÃO CONFIRMADA</div>
            Prezado(a) #{inscricaoBean.candidato.nome},
            Seguem os dados da sua insrição
            Idioma escolhido: #{inscricaoBean.candidato.idioma.descricao}
            CPF: #{inscricaoBean.candidato.cpf}
            Data e hora: #{inscricaoBean.candidato.dataHora}
            <h:commandButton value="Voltar" action="inscricao"/>
            <h:commandButton value="Exibir Inscritos" action="candidatos"/>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
